# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/
/src/Satrabel.Abp.Theme.CoreUI/obj
/src/Satrabel.Abp.Theme.CoreUI/bin
/src/Satrabel.Abp.Theme.CoreUI/obj/Debug/net5.0/Satrabel.Abp.Theme.CoreUI.GeneratedMSBuildEditorConfig.editorconfig
